/*type selector-selects all element
s with the same tag
rem-measurement in css which means 
num x the default size if the root element
*/

h1{
	color: black !important;
	text-align: center;
	font-size: 2rem; 
}

/*universal selector-selects all elements
*/
*{
	font-family: "Courier New" monospace;
	font-size: 20px;
}


#zuitt-motto {
	letter-spacing: 5px;
}

/*li{
	font-size: 30px;
}*/

/*#day-class{
	font-size: 100px !important; 
}*/


.offering-item{
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}


/*input {
	border-width: 4px;
	border-style: solid;
	border-color: green;
}

.fname-input {
	border-width: 6px;
	border-style: solid;
	border-color: red
}

#first-name {
	border-width: 10px;
	border-style: solid;
	border-color: yellow;
}*/

/* Adjacent Sibling Selector */
#zuitt-motto + img {
	height: 300px !important;
	width: 300px !important;
	border-radius: 150px !important;
}

/*General Sibling Selector*/
h2 ~ a {
	text-decoration: none;
}

/*Descendant Selector*/
#bootcamp-learning-list li {
	color: #0759;
}

nav a{
	text-decoration: none;
}

/*display: flex;
-arranges element's children in a row
-let's us use the flex button*/
nav {
	background-color: white;
	display: flex;
	justify-content: space-between;
}

/*CSS Child Selector*/

section > form > label {
	color: rgb(0, 0, 128);
}

body {
	background-color: skyblue;
}

a:hover {
	background-color: #b4d6de;
}

section {
	height: 100vh;
	text-align: center;
}

form {
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#register {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;

}




