*{
	font-family: verdana,sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#learn {
	text-transform: uppercase;
}

.languages {
	background-color: #aed19d;
}

.tools {
	border-color: #b3c1db;
	border-width: 2px;
	border-style: solid;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 10px;
}